<div id="modal-overflow-{{ data.id }}" uk-modal>
  <div class="uk-modal-dialog">

    <button class="uk-modal-close-default" type="button" uk-close></button>

    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Related Comics - <span>{{ data.name }}</span></h2>
    </div>

    <div class="uk-modal-body" uk-overflow-auto>
      <ul class="uk-list uk-list-divider">
        <li *ngFor="let comic of data.comics">
          <span>{{ comic.name }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
