.section-main {
  background         : aqua;
  display            : grid;
  grid-template-areas: "header header header header"
    "main main main aside"
    "footer footer footer footer";
  grid-template-columns   : repeat(4, 250px);
  grid-template-rows      : 40px auto 40px;
  min-height              : 100vh;
  // width                : 900px;


  header {
    background: red;
    grid-area : header;
  }

  main {
    background: #f4f4f4;
    grid-area : main;
  }

  aside {
    background: yellow;
    grid-area : aside;
  }

  footer {
    background: grey;
    grid-area : footer;
  }

}
