<div class="container-character">
  <div class="header-character">
    <img [src]="data.image.path +'.'+ data.image.extension">
    <div class="information">
      <div>
        <p class="name">{{ data.name }}</p>
        <p class="description">
          {{ (data.description.trim()) ? data.description : noDrescription }}
        </p>
      </div>
      <button>View More</button>
    </div>
  </div>
  <div class="container-comics">
    <p class="subtitle">Related comics</p>
    <div class="comics">
      <ng-container *ngIf="dataComics.length > 0">
        <p *ngFor="let item of dataComics">{{ item.name }}</p>
      </ng-container>
      <ng-container *ngIf="dataComics.length === 0">
        <p>No related comics</p>
      </ng-container>
    </div>
  </div>
</div>
