<div class="container-main">
  <div class="container-title">
    <div class="title">
      <img src="assets/images/characters.png">
      <span>Characters</span>
    </div>
    <div>
      <select>
        <option value="value1" selected disabled>Sort by</option>
        <option value="value2">Nombre</option>
        <option value="value3">Fecha</option>
      </select>
    </div>
  </div>

  <div class="container-characters">
    <ng-container *ngFor="let item of dataCharacters">
      <app-character [data]='item'></app-character>
    </ng-container>
  </div>
</div>
